*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 30px;
}

.macbook__cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid pink;
    padding: 10px;
    width: 300px;
}

.macbook__cart>img{
    width: 250px;
}
h2{
    text-align: center;
}
.macbook__cart p>:first-child{
    font-size: 20px;
    color: red;
    font-weight: bold;
}
h3 + p{
    font-size: 20px;
    color: red;
    font-weight: bold;
}
p + p{
    border: 1px solid lightgray;
    padding: 2px;
    background-color: #F3F4F6;
    border-radius: 5px;
    text-align: center;
}
section{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
}
button{
    width: 100px;
    height: 35px;
    background-color: palevioletred;
    color: #F3F4F6;
    outline: none;
    border: 1px solid lightblue;
    border-radius: 10px;
}
button:active{
    background-color: lightblue;
}